<!doctype html>
<html lang="en">

<head>
    <title>Song Analyzer</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script>

    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        a.bar {
            background-color: lightgrey;
            color: black;
            font-size: 30px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 13px;
            padding-right: 13px;

        }

        .nav {
            background-color: grey;
            margin-bottom: 15px
        }

        a.active {
            background-color: darkgrey;
        }
    </style>
</head>

<body>
    <nav class="nav">
        <div class="container ">
            <a class="bar active" href="/">Home</a>
            <a class="bar" href="{{ url_for('songs') }}">Songs</a>
            <a class="bar" href="{{ url_for('years') }}">Years</a>
            <a class="bar" href="{{ url_for('propsal') }}">Project Proposal</a>
            <a class="bar" href="{{ url_for('writeup') }}">Writeup</a>
            <div style="float: right; text-align: right; color: white">
                <h1>By: Alvie Stoddard</h1>
                <h5>for Problem Solving and Software Design</h5>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>Please Proceed to one of the other pages.</h1>
        <a href="song.html">
            <h3 style="color: black">Songs</h3>
        </a>
        <p>On the songs page, you can compare different songs, running a sentiment analysis, comparing specific words,
            looking for explicit ness, or all three. </p>
        <a href="years.html">
            <h3 style="color: black">Years</h3>
        </a>
        <p>On the years page, you can compare the Billboard top 100 songs from different years and again run a sentiment
            analysis, compare specific words, looking for explicit, or all three.</p>
        <a href="writeup.html">
            <h3 style="color: black">Writeup</h3>
        </a>
        <p>On the writeup page, you can find why I did this project as well as some of my findings. You can also find
            some of the details of how I completed this project.</p>
    </div>
    <script>

    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>