<!doctype html>
<htmlclassang="en">

<head>
    <title>Song Analyzer</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">

    <script>

    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        a {
            background-color: lightgrey;
            color: black;
            font-size: 30px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 13px;
            padding-right: 13px;

        }

        .nav {
            background-color: grey;
            margin-bottom: 15px
        }

        a.active {
            background-color: darkgrey;
        }
    </style>
</head>

<body>
  <nav class="nav">
    <div class="container ">
        <a class="bar" href="/">Home</a>
        <a class="bar" href="{{ url_for('songs') }}">Songs</a>
        <a class="bar active" href="{{ url_for('years') }}">Years</a>
        <a class="bar" href="{{ url_for('propsal') }}">Project Proposal</a>
        <a class="bar" href="{{ url_for('writeup') }}">Writeup</a>
        <div style="float: right; text-align: right; color: white">
            <h1>By: Alvie Stoddard</h1>
            <h5>for Problem Solving and Software Design</h5>
        </div>
    </div>
</nav>

    <div class="container">
    <h1>Years</h1>
    <form method="POST" name="songsform">
        <label>What Year would you like to look at?<input type="text" name="year" /></label>
        </form>
        {% if year_num %}
        <h1>{{ year_num }} to charts</h1>
        {{results}}
        {% endif %}
    <input class="btn col-12" type="submit" value="Search" style="background-color: black; color: white; font-size: 25px">
    </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</html>